canvas, svg, #tmpl {
    width: min(100vw, calc(100vh * 16/9));
    position: absolute;
    aspect-ratio: 16/9;
}

html, body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

svg {
    font-family: sans-serif;
    font-size: 80px;
    font-weight: bold;
}

#fullscreen,#start {
    fill: #333;
    cursor: pointer;
}

#fullscreen:hover,#start:hover {
    fill: red;
}
