canvas, svg, #tmpl {
    width: min(100vw, calc(100vh * 16/9));
    position: absolute;
    aspect-ratio: 16/9;
}

html, body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

svg {
    font-size: 80px;
    stroke: #fff;
    font-weight: 800;
}
